In [1]:
import pandas as pd
df = pd.read_csv('age2.csv')
df.head(6)

   Age  Degrees  Income
0   50        5    5000
1   60        3    4500
2   10        1    7000
3   20        2    6000
4   40        7    3500
5   80        9    2000

In [2]:
x = df[['Age','Degrees']]
y = df['Income']
x

   Age  Degrees
0   50        5
1   60        3
2   10        1
3   20        2
4   40        7
5   80        9

In [3]:
y

0    5000
1    4500
2    7000
3    6000
4    3500
5    2000
Name: Income, dtype: int64

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3,random_state = 10)
x_train

   Age  Degrees
0   50        5
3   20        2
4   40        7
1   60        3

In [5]:
x_test

   Age  Degrees
2   10        1
5   80        9

In [6]:
y_train

0    5000
3    6000
4    3500
1    4500
Name: Income, dtype: int64

In [7]:
y_test

2    7000
5    2000
Name: Income, dtype: int64

In [9]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [10]:
clf.fit(x_train,y_train)
clf.predict(x_test)

array([6555.55555556, 2314.81481481])

In [11]:
clf.score(x_test,y_test)

0.9762688614540466

In [12]:
clf.coef_

array([ -20.37037037, -351.85185185])

In [13]:
clf.intercept_

7111.111111111111

In [14]:
clf.predict([[25,2]])

array([5898.14814815])

In [24]:
7111.111111111111-20.37037037*10

6907.407407411111

In [25]:
7111.111111111111-351.85185185*80

-21037.03703688889