In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('age1.csv')
x = df[['Age']]
y = df[['Income']]
df

   Age  Income
0   20   10000
1   30   15000
2   80   50000
3   50   30000
4   10    5000
5   45   25000
6   30   20000
7   55   35000
8   60   40000
9   70   45000

In [7]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(x,y)

DecisionTreeRegressor()

In [9]:
regressor.predict([[60]])

array([40000.])

In [11]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,train_size = 0.80,random_state = 0)

In [12]:
reg = DecisionTreeRegressor()
reg.fit(x_train,y_train)

DecisionTreeRegressor()

In [13]:
reg.predict(x_test)

array([45000., 35000.])