In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('age1.csv')
x = df[['Age']]
y = df[['Income']]
df

   Age  Income
0   20   10000
1   30   15000
2   80   50000
3   50   30000
4   10    5000
5   45   25000
6   30   20000
7   55   35000
8   60   40000
9   70   45000

In [3]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor()
regressor.fit(x,y)

<ipython-input-3-05163f34c200>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x,y)

RandomForestRegressor()

In [5]:
regressor.predict([[45]])

array([27030.95238095])

In [6]:
regressor.predict(x)

array([ 9904.16666667, 17153.45238095, 47800.        , 29447.61904762,
        8154.16666667, 27030.95238095, 17153.45238095, 33714.28571429,
       38400.        , 44000.        ])

In [7]:
regressor.score(x,y)

0.9819728022263451