In [1]:
import pandas as pd

In [6]:
dataset = pd.read_csv('Bike.csv')
x = dataset[['Age','Income']]
y = dataset[['Bike']]
dataset

     Age  Income  Bike
0     35   73000     0
1     28   37000     0
2     27   88000     0
3     28   59000     0
4     32   86000     0
..   ...     ...   ...
97    34   43000     0
98    30   79000     0
99    20   36000     0
100   26   80000     0
101   35   22000     0

[102 rows x 3 columns]

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.20,random_state = 0)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

    Age  Income
62   32  100000
3    28   59000
79   25   22000
45   30   89000
48   27   96000
..  ...     ...
98   30   79000
67   18   86000
64   37   33000
47   24   89000
44   35   59000

[81 rows x 2 columns]
    Age  Income
26   41   51000
92   24   84000
2    27   88000
55   36   50000
91   28   32000
84   32  117000
16   42   80000
66   33   69000
54   31   76000
68   22   55000
53   41   45000
94   29   43000
73   34  115000
13   37   71000
7    21   72000
30   30   17000
22   36   75000
24   40   75000
33   33   31000
8    26   35000
43   18   68000
    Bike
62     1
3      0
79     0
45     0
48     1
..   ...
98     0
67     0
64     0
47     0
44     0

[81 rows x 1 columns]
    Bike
26     0
92     0
2      0
55     0
91     0
84     1
16     0
66     0
54     0
68     0
53     0
94     0
73     0
13     0
7      0
30     0
22     0
24     0
33     0
8      0
43     0

In [7]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train,y_train)

DecisionTreeClassifier()

In [8]:
classifier.predict(x_test)

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [9]:
classifier.score(x_test,y_test)

0.9523809523809523