In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('Bike.csv')
X = dataset[['Age','Income']]
y = dataset[['Bike']]
dataset.head(10)

   Age  Income  Bike
0   35   73000     0
1   28   37000     0
2   27   88000     0
3   28   59000     0
4   32   86000     0
5   33  149000     1
6   19   21000     0
7   21   72000     0
8   26   35000     0
9   27   89000     0

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.80, random_state = 0)

In [4]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)

<ipython-input-4-2f7f141e7367>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)

RandomForestClassifier()

In [5]:
classifier.predict(X_test)

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [6]:
classifier.score(X_test,y_test)

1.0